.home-header-visual {
  position: relative;
  z-index: 1;
  width: 400px;
  height: 400px;
  border: thin red;
  margin: auto;
  transition: all 0.5s cubic-bezier(0.3, 1.65, 0.205, 0.795);
  cursor: pointer;

  svg {
    width: 100%;
    height: 100%;
    max-height: 100vh;
    animation: rotate 60s linear;
  }
}

.blob {
  mix-blend-mode: multiply;
}
.blob circle {
  will-change: transform, r;
}

.blob:nth-of-type(1) circle {
  /**keyframes **/
  /**keyframes **/
  /**keyframes **/
}
.blob:nth-of-type(1) circle:nth-of-type(2) {
  r: 10%;
}
.blob:nth-of-type(1) circle:nth-of-type(3) {
  r: 9%;
}
.blob:nth-of-type(1) circle:nth-of-type(4) {
  r: 12%;
}
.blob:nth-of-type(1) circle:nth-of-type(5) {
  r: 12%;
}
.blob:nth-of-type(1) circle:nth-of-type(1) {
  animation: anim-1-1 10s ease-in-out infinite;
  animation-delay: 0s;
}
@keyframes anim-1-1 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-2%, -5%);
  }
  100% {
    transform: translate(0, 0);
  }
}
.blob:nth-of-type(1) circle:nth-of-type(2) {
  animation: anim-1-2 10s ease-in-out infinite;
  animation-delay: 0.5s;
}
@keyframes anim-1-2 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-4%, -13%);
  }
  100% {
    transform: translate(0, 0);
  }
}
.blob:nth-of-type(1) circle:nth-of-type(3) {
  animation: anim-1-3 10s ease-in-out infinite;
  animation-delay: 0.5s;
}
@keyframes anim-1-3 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10%, 8%);
  }
  100% {
    transform: translate(0, 0);
  }
}
.blob:nth-of-type(2) circle {
  /**keyframes **/
  /**keyframes **/
  /**keyframes **/
}
.blob:nth-of-type(2) circle:nth-of-type(2) {
  r: 9%;
}
.blob:nth-of-type(2) circle:nth-of-type(3) {
  r: 12%;
}
.blob:nth-of-type(2) circle:nth-of-type(4) {
  r: 11%;
}
.blob:nth-of-type(2) circle:nth-of-type(5) {
  r: 8%;
}
.blob:nth-of-type(2) circle:nth-of-type(1) {
  animation: anim-2-1 10s ease-in-out infinite;
  animation-delay: 0s;
}
@keyframes anim-2-1 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(2%, -7%);
  }
  100% {
    transform: translate(0, 0);
  }
}
.blob:nth-of-type(2) circle:nth-of-type(2) {
  animation: anim-2-2 10s ease-in-out infinite;
  animation-delay: 1.5s;
}
@keyframes anim-2-2 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10%, 12%);
  }
  100% {
    transform: translate(0, 0);
  }
}
.blob:nth-of-type(2) circle:nth-of-type(3) {
  animation: anim-2-3 10s ease-in-out infinite;
  animation-delay: 0.5s;
}
@keyframes anim-2-3 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-4%, 7%);
  }
  100% {
    transform: translate(0, 0);
  }
}
.blob:nth-of-type(3) circle {
  /**keyframes **/
  /**keyframes **/
  /**keyframes **/
}
.blob:nth-of-type(3) circle:nth-of-type(2) {
  r: 11%;
}
.blob:nth-of-type(3) circle:nth-of-type(3) {
  r: 9%;
}
.blob:nth-of-type(3) circle:nth-of-type(4) {
  r: 12%;
}
.blob:nth-of-type(3) circle:nth-of-type(5) {
  r: 11%;
}
.blob:nth-of-type(3) circle:nth-of-type(1) {
  animation: anim-3-1 7.5s ease-in-out infinite;
  animation-delay: 0s;
}
@keyframes anim-3-1 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-14%, 3%);
  }
  100% {
    transform: translate(0, 0);
  }
}
.blob:nth-of-type(3) circle:nth-of-type(2) {
  animation: anim-3-2 7.5s ease-in-out infinite;
  animation-delay: 0.5s;
}
@keyframes anim-3-2 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0%, -7%);
  }
  100% {
    transform: translate(0, 0);
  }
}
.blob:nth-of-type(3) circle:nth-of-type(3) {
  animation: anim-3-3 7.5s ease-in-out infinite;
  animation-delay: 1.5s;
}
@keyframes anim-3-3 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-14%, 5%);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.home-header {
  display: flex;
}
.home-header-background {
  background: #fcfcfd;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

$studio-visual-width: 50rem;
$studio-visual-height: 20rem;
$studio-blob-size-sm: 13rem;
$studio-blob-size-lg: 18rem;
$studio-blob-size-delta: $studio-blob-size-lg - $studio-blob-size-sm;

.studio-portfolio {
  svg {
    position: absolute;
  }
  &-visual {
    position: relative;
    margin: 10rem auto;
    width: $studio-visual-width;
    height: $studio-blob-size-lg;

    &:hover {
      color: rgba($base-font-color-light, 0.5);
    }
  }

  &-blob,
  &-circles,
  &-circles-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    span {
      display: block;
      position: absolute;
      border-radius: 50%;
      @include transition('lg', $easing: ease-out);
      transition-property: transform;
      will-change: transform;
    }
  }
  &-blob {
    filter: url('#goo');
    opacity: 0.25;
    span {
      height: $studio-blob-size-sm;
      width: $studio-blob-size-sm;
      background: $black;
      box-shadow: 0px 0px $studio-blob-size-sm/4 $black;

      &:nth-of-type(1) {
        left: $studio-blob-size-delta / 2;
        top: $studio-blob-size-delta / 2;
      }
      &:nth-of-type(2) {
        left: calc(50% - #{$studio-blob-size-sm}/2);
        top: $studio-blob-size-delta / 2;
      }
      &:nth-of-type(3) {
        right: $studio-blob-size-delta / 2;
        top: $studio-blob-size-delta / 2;
      }
    }
  }
  &-circles {
    span {
      height: $studio-blob-size-lg;
      width: $studio-blob-size-lg;
      background: rgba($black, 0.1);
      display: flex;
      &::after {
        content: '';
        display: block;
        width: 0.5rem;
        height: 0.5rem;
        margin: auto;
        border-radius: 50%;
        border: 1px solid $light-gray;
        @include transition('md');
      }

      label {
        display: block;
        position: absolute;
        bottom: -10rem;
        left: 50%;
        transform: translateX(-50%);
        @include transition('md');
      }
      &:nth-of-type(1) {
        left: 0;
      }
      &:nth-of-type(2) {
        left: calc(50% - #{$studio-blob-size-lg}/2);
      }
      &:nth-of-type(3) {
        right: 0;
      }

      &:hover {
        background: rgba($black, 0.15);
        color: $base-font-color-light;
        &::after {
          background-color: $light-gray;
          transform: scale(1.5);
        }
      }
    }
  }
  &-circles-bg {
    pointer-events: none;
    display: flex;
    align-items: center;
    span {
      position: absolute;
    }
    :nth-child(1),
    :nth-child(4) {
      height: $studio-blob-size-lg * 0.5;
      width: $studio-blob-size-lg * 0.5;
      background: rgba($black, 0.033);
    }
    :nth-child(2),
    :nth-child(3) {
      height: $studio-blob-size-lg * 0.75;
      width: $studio-blob-size-lg * 0.75;
      background: rgba($black, 0.075);
    }
    :nth-child(1) {
      left: -150px;
    }
    :nth-child(2) {
      left: -75px;
    }
    :nth-child(3) {
      right: -75px;
    }
    :nth-child(4) {
      right: -150px;
    }
  }
}
