$color: #fff;
$color2: #5048a0;
$color3: #000;
$color4: #48098b;
$move-offset: 100px;
$color-left: $light-gray-dark;
$color-right: $light-gray-dark;
$blob-size: 100px;
$move-offset: 100px;

@function randomNum($min, $max) {
  $rand: random();
  $randomNum: $min + floor($rand * (($max - $min) + 1));
  @return $randomNum;
}

.blob-visual {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.75;
}
.blob-wrapper {
  width: 50vw;
  height: 100vh;
  position: absolute;
  top: 0;
  mix-blend-mode: multiply;
  opacity: 1;
  &.blob-left {
    left: 0;
    .blob div {
      background: $color-left;
      box-shadow: 0px 0px 50px $color-left;
    }
  }
  &.blob-right {
    right: 0;
    transform: scale(-1, 1);
    .blob div {
      background: $color-right;
      box-shadow: 0px 0px 50px $color-right;
    }
  }
}

.blob-rotate {
  width: 200px;
  height: 200px;
  animation: rotate 60s infinite;
  animation-timing-function: linear;

  position: absolute;
  left: calc(100% - 100px);
  top: calc(50% - 100px);
}

.blob {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50px, -50px);
  filter: url('#goo');
  div {
    width: $blob-size;
    height: $blob-size;
    border-radius: 500px;
    display: inline-block;
    position: absolute;
    $top-collection: 0;
    $left-collection: 0;

    @for $i from 1 to 17 {
      $left: randomNum(-100px, 100px);
      $top: randomNum(-80px, 80px);
      $randWH: randomNum(20px, 60px);
      &:nth-child(#{$i}) {
        width: $randWH;
        height: $randWH;
        left: $left;
      }

      $left-collection: append($left-collection, $left);
      $top-collection: append($top-collection, $top);
    }

    @for $i from 2 to length($top-collection) {
      &:nth-child(#{$i}) {
        top: 0;
        left: 0;
        animation: anim-#{$i} 12s ease-in-out infinite;
        @if ($i == 1) {
          animation-delay: 0s;
        } @else {
          animation-delay: randomNum(1s, 4s);
        }
      }
      /**keyframes **/
      @keyframes anim-#{$i} {
        0% {
          left: 0;
          top: 0;
        }
        50% {
          left: nth($left-collection, $i+1);
          top: nth($top-collection, $i);
        }
        100% {
          left: 0;
          top: 0;
        }
      }
    } //end of collection loop
  } //end of div
} //end of glowby-blob

.blob-svg {
  position: absolute;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(2);
  }
  100% {
    transform: rotate(360deg) scale(2);
  }
}

$studio-visual-width: 50rem;
$studio-visual-height: 20rem;
$studio-blob-size-sm: 13rem;
$studio-blob-size-lg: 18rem;
$studio-blob-size-delta: $studio-blob-size-lg - $studio-blob-size-sm;

.studio-portfolio {
  svg {
    position: absolute;
  }
  &-visual {
    position: relative;
    margin: 10rem auto;
    width: $studio-visual-width;
    height: $studio-blob-size-lg;

    &:hover {
      color: rgba($base-font-color-light, 0.5)
    }
  }

  &-blob,
  &-circles,
  &-circles-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    span {
      display: block;
      position: absolute;
      border-radius: 50%;
      @include transition('md', $easing: ease-out);
      transition-property: transform;
      will-change: transform;
    }
  }
  &-blob {
    filter: url('#goo');
    opacity: 0.25;
    span {
      height: $studio-blob-size-sm;
      width: $studio-blob-size-sm;
      background: $black;
      box-shadow: 0px 0px $studio-blob-size-sm/4 $black;

      &:nth-of-type(1) {
        left: $studio-blob-size-delta / 2;
        top: $studio-blob-size-delta / 2;
      }
      &:nth-of-type(2) {
        left: calc(50% - #{$studio-blob-size-sm}/2);
        top: $studio-blob-size-delta / 2;
      }
      &:nth-of-type(3) {
        right: $studio-blob-size-delta / 2;
        top: $studio-blob-size-delta / 2;
      }
    }
  }
  &-circles {
    span {
      height: $studio-blob-size-lg;
      width: $studio-blob-size-lg;
      background: rgba($black, 0.1);
      display: flex;
      &::after {
        content:'';
        display: block;
        width: 0.5rem;
        height: 0.5rem;
        margin: auto;
        border-radius: 50%;
        border: 1px solid $light-gray;
        @include transition('md');
      }

      label {
        display: block;
        position: absolute;
        bottom: -10rem;
        left: 50%;
        transform: translateX(-50%);
        @include transition('md');
      }
      &:nth-of-type(1) { left: 0; }
      &:nth-of-type(2) { left: calc(50% - #{$studio-blob-size-lg}/2); }
      &:nth-of-type(3) { right: 0; }


      &:hover {
        background: rgba($black, 0.15);
        color: $base-font-color-light;
        &::after {
          background-color: $light-gray;
          transform: scale(1.5);

        }
      }
    }
  }
  &-circles-bg {
    pointer-events: none;
    display: flex;
    align-items: center;
    span {
      position: absolute;
    }
    :nth-child(1),
    :nth-child(4) {
      height: $studio-blob-size-lg * 0.5;
      width: $studio-blob-size-lg * 0.5;
      background: rgba($black, 0.033);
    }
    :nth-child(2),
    :nth-child(3) {
      height: $studio-blob-size-lg * 0.75;
      width: $studio-blob-size-lg * 0.75;
      background: rgba($black, 0.075);
    }
    :nth-child(1) {
      left: -150px;
    }
    :nth-child(2) {
      left: -75px;
    }
    :nth-child(3) {
      right: -75px;
    }
    :nth-child(4) {
      right: -150px;
    }
  }
}
