.featured {
  display: block;
  height: 460px;
  position: relative;
  text-decoration: none;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;

  background-size: 100%;
  background-position: bottom right;
  background-repeat: no-repeat;

  @include transition-duration-m();

  &.featured-volkswagen {
    background-color: #fcfcfd;
    background-image: url('../img/featured/volkswagen.png');
  }
  &.featured-brightfox {
    background-color: #ff7244;
    background-image: url('../img/featured/brightfox.png');
  }
  &.featured-plateiq {
    background-color: $stone-dark;
    background-image: url('../img/featured/plateiq.png');
  }
  &.featured-wolverine {
    background-color: $stone-dark;
    background-image: url('../img/featured/wolverine.png');
  }

  .featured-title {
    align-self: flex-end;
    padding: 35px 30px;
    color: $light-gray;
    width: 100%;
    h5 {
      margin-bottom: 5px;
    }
    @include transition-duration-s;

    .featured-title-description {
      height: 0px;
      overflow: hidden;
      @include transition-duration-m;
      p {
        opacity: 0.5;
        margin-top: 15px;
      }
    }
  }

  &.text-dark .featured-title {
    color: $stone;
  }

  &::before,
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    @include transition-duration-xl();
  }
  &::before {
    background-color: $light-gray-darker;
  }
  &::after {
    background-color: $light-gray;
    transition-delay: 0.15s;
  }

  &.animating {
    &::after,
    &::before {
      transform: translateY(0);
    }
  }
}

.featured:hover {
  @include transform(translateY(-10px));
  .featured-title {
    .featured-title-description {
      height: 40px;
    }
  }
}

.featured:active {
  @include transform(translateY(-10px) scale(0.99));
}
