@mixin transition($transition) {
  transition: $transition;
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
}

@mixin transition-duration-s($property: all, $duration: 0.15s, $easing: ease) {
  @include transition($property $duration $easing);
}

@mixin transition-duration-m($property: all, $duration: 0.25s, $easing: ease) {
  @include transition($property $duration $easing);
}

@mixin transition-duration-l($property: all, $duration: 0.35s, $easing: ease) {
  @include transition($property $duration $easing);
}

@mixin transition-duration-xl($property: all, $duration: 0.45s, $easing: ease) {
  @include transition($property $duration $easing);
}

@mixin box-sizing($box-sizing) {
  box-sizing: $box-sizing;
  -webkit-box-sizing: $box-sizing;
  -moz-box-sizing: $box-sizing;
  -ms-box-sizing: $box-sizing;
  -o-box-sizing: $box-sizing;
}

@mixin box-shadow($box-shadow) {
  box-shadow: $box-shadow;
  -webkit-box-shadow: $box-shadow;
  -moz-box-shadow: $box-shadow;
  -ms-box-shadow: $box-shadow;
  -o-box-shadow: $box-shadow;
}

@mixin transform($transform) {
  transform: $transform;
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  -o-transform: $transform;
}

@mixin btn-interaction() {
  background-color: transparent;
  border-radius: $border-radius;
  cursor: pointer;
  outline: none !important;
  @include transition-duration-s;
  @include box-shadow( 0 0 0 0 rgba($light-gray, 0));

  &:focus {
    @include box-shadow( 0 0 0 3px rgba($light-gray, 0.3));
  }

  &:hover {
    background-color: $stone-darker;
  }
}
