nav {
  @include transform(translateY(15px));
  @include transition-duration-m();
  height: 60px;
  width: 100%;
  padding: 0 30px;
  overflow: hidden;
  border-bottom: 1px solid transparent;

  position: fixed;
  top: 0;
  z-index: 100;

  .container-fluid {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    padding: 23px 0;
    img {
      height: 14px;
    }
  }
  .menu {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      float: left;
      display: block;
      position: relative;

      a {
        @include btn-interaction();
        display: block;
        line-height: 1.875rem;
        padding: 0 0.5rem;
        font-size: $font-size-s;
        text-decoration: none;
        color: rgba($light-gray, 0.5);
        margin-left: 1rem;
        &:hover,
        &:focus {
          color: $light-gray;
        }
      }

      // &:last-of-type a {
      //   padding-right: 0;
      // }
    }
  }

  &.nav-scrolled {
    @include transform(translateY(0));
    background-color: $stone;
    border-bottom-color: $stone-dark;
    color: white;

    &.nav-white {
      background-color: $light-gray;
      border-bottom-color: rgba($stone, 0.1);
      color: $stone;

      .menu li a {
        color: rgba($stone, 0.5);
      }
      .menu li a:hover {
        color: $stone;
      }
    }
  }
}
