$navbar-height: 80px;
$navbar-offset: 10px;

.navbar {
  width: 100%;
  height: $navbar-height;
  position: fixed;
  top: $navbar-offset;
  z-index: 10;
  display: flex;
  align-items: center;

  .container {
    display: flex;
    justify-content: space-between;
  }

  &.scrolled {
    top: 0;
  }

  &-logo {
    width: 100px;
  }
  &-menu {
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      list-style-type: none;
      margin-left: 1rem;

      a {
        text-decoration: none;
        background: transparent;
        display: block;
        height: $button-height;
        line-height: $button-height;
        padding: 0 1rem;
        font-size: $font-size-sm;
        font-weight: $font-weight-regular;
        border: none;
        outline: none !important;
        cursor: pointer;
        border-radius: $border-radius;
        color: rgba($base-font-color-dark, 0.5);
        @include transition('sm');

        &:hover,
        &:focus {
          @include transition('none');
          background: rgba($black, 0.075);
          color: $base-font-color-dark;
        }
        &:active {
          background: rgba($black, 0.125);
        }

      }
    }
  }
}

.navbar.dark {
  .navbar-menu {
    li {
      a {
        background: transparent;
        color: rgba($base-font-color-light, 0.5);

        &:hover,
        &:focus {
          background: rgba($light-gray, 0.075);
          color: $base-font-color-light;
        }
        &:active {
          background: rgba($light-gray, 0.125);
        }

      }
    }
  }
}
