.parallax {
  position: relative;
  overflow: hidden;
  &-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 125%;
    background-position: center;
    background-size: cover;

    @include breakpoint(medium down) {
      top:50%;
      left: 50%;
      transform: translate(-50%,-50%) !important;
    }
  }
}

.image-full {
  height: $section-min-height;
  position: relative;
  padding: 0;
}
