//Colors
$black: #000000;
$stone: #1c202a;
$stone-dark: #12161f;
$stone-darker: #060c19;

$light-gray: #fcfcfd;
$light-gray-dark: #ececf2;
$light-gray-darker: #e1e1ea;

//Fonts
$font-family-sans-serif: 'Graphik', sans-serif;

//Typography
$font-size-s: 0.875em;
$font-size-m: 16px;
$font-size-l: 1.25em;
$font-size-xl: 1.5em;
$font-size-xxl: 1.75em;
$font-size-xxxl: 2em;

$line-height-s: 1;
$line-height-m: 1.25;
$line-height-l: 1.6;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semibold: 500;

//Grid
$gutter: 10px;
$container: 1050px;
$container-fluid-padding: 5vw;
//Misc
$border-radius: 4px;
