$grid-margin-gutters: 3rem;

.container {
  //@include xy-grid-container;
  // width: 100%;
  // max-width: $grid-container;
  // margin: 0 auto;
  // position: relative;
  // padding: 0 $grid-gutter;
  @include xy-grid-container;
  width: 100%;
  position: relative;
}

.grid {
  @include xy-grid;
  @include xy-gutters($gutters: 3rem, $negative:'true');
  // margin: -$grid-gutter;
  // margin-top: 0;
  // margin-bottom: 0;
  // display: flex;
  // flex-wrap: wrap;
  //
  // &.grid-space-between {
  //   justify-content: space-between;
  // }
  // &.grid-align-bottom {
  //   align-items: flex-end;
  // }
}

// home
#home {
  .info {
    @include xy-cell(8 of 12);
    @include xy-cell-offset(2 of 12);
  }
  .project-preview {
    min-width: 33.333333%;
    flex: 1;
    // @include xy-cell-breakpoints((small: full, medium: 4));
  }
}

// project detail
#project {
  .project-intro-description {
    @include xy-cell(7 of 12);
  }
  .project-intro-facts {
    @include xy-cell(4 of 12);
    @include xy-cell-offset(1 of 12);
    .project-intro-facts-left,
    .project-intro-facts-right {
      @include xy-cell(6 of 12);
    }
  }
  .project-copy-text {
    @include xy-cell(7 of 12);
  }
}

//about
.grid {
  .section-title {
    // @include xy-cell-breakpoints((small: full, medium: 3));
  }
  .section-content {
    //  @include xy-cell-breakpoints((small: full, medium: 9));
  }
}
