$grid-margin-gutters: 3rem;

.container {
  @include xy-grid-container;
  width: 100%;
  position: relative;
}

.grid {
  @include xy-grid;
  @include xy-gutters($gutters: 3rem, $negative: 'true');
}

// home
#home {
  .home-info-copy {
    @include xy-cell(8 of 12);
  }
  .home-featured-list {
    @include xy-gutters($gutters: 0);
  }
  .preview {
    width: 33.33333333%;
  }
}

.work {
  .preview {
    @include xy-cell(12 of 12);
    @include xy-gutters($gutter-position: left right top bottom);
  }
}

// project detail
#project {
  .project-intro-description {
    @include xy-cell(7 of 12);
  }
  .project-intro-facts {
    @include xy-cell(4 of 12);
    @include xy-cell-offset(1 of 12);
    .project-intro-facts-left,
    .project-intro-facts-right {
      @include xy-cell(6 of 12);
    }
  }
  .project-copy-text {
    @include xy-cell(7 of 12);
  }
  .project-copy-sticky {
    @include xy-cell(6 of 12);
  }
  .project-screenshot-long {
    @include xy-cell(5 of 12);
    @include xy-cell-offset(1 of 12);
  }
  .project-gallery-image {
    @include xy-cell(4 of 12);
    @include xy-gutters($gutter-position: left right top bottom);
    &:nth-child(4n + 2),
    &:nth-child(4n + 3) {
      @include xy-cell(8 of 12);
    }
  }
}

// Studio
.studio {
  &-where {
    .section-content {
      @include xy-cell(5 of 12);
    }
    &-callout {
      @include xy-cell(3 of 12);
      @include xy-cell-offset(1 of 12);
    }
  }
  &-values {
    &-col-1 {
      @include xy-cell(4 of 12);
    }
    &-col-2 {
      @include xy-cell(4 of 12);
      @include xy-cell-offset(1 of 12);
    }
  }
  &-clients {
    &-list {
      @include xy-cell(6 of 12);
    }
    &-description {
      @include xy-cell(5 of 12);
      @include xy-cell-offset(1 of 12);
    }
  }
}

.contact {
  &-header {
    h1 {
      @include xy-cell(8 of 12);
      @include xy-cell-offset(2 of 12);
    }
  }
}

footer {
  .footer-title {
    @include xy-cell(12 of 12);
  }
}

//about
.section-title {
  @include xy-cell(3 of 12);
}
.section-content {
  @include xy-cell(9 of 12);

  p + p {
    margin-top: 3.5rem;
  }
}
