body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $base-bg-color-light;
  color: $base-font-color-dark;

  ::selection {
    background: $watermelon;
    color: $light-gray;
  }
  ::-moz-selection {
    background: $watermelon;
    color: $light-gray;
  }
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p,
section,
blockquote,
label {
  margin: 0;
}
