//Colors
$black: #000000;
//$stone: #151c2c;
$stone: #1c202a;
$stone-dark: #12161f;
$stone-darker: #060c19;

$light-gray: #fcfcfd;
$light-gray-dark: #f1f3f9;
$light-gray-darker: #e1e1ea;
$light-gray-50: rgba(#fcfcfd, 0.5);

$watermelon: #ff0022;
$watermelon-dark: #d2003e;

$azure: #1581f9;

$base-bg-color-light: $light-gray;
$base-bg-color-dark: $stone;
$base-font-color-light: $light-gray;
$base-font-color-dark: $stone;

//Fonts
$font-family-sans-serif: 'Graphik', sans-serif;

//Typography
$font-size-xs: 1.4rem;
$font-size-sm: 1.5rem;
$font-size-md: 1.8rem;
$font-size-lg: 2.4rem;
$font-size-xl: 2.8rem;
$font-size-xxl: 3.2rem;

$line-height-xs: 1;
$line-height-sm: 1.25;
$line-height-md: 1.5;
$line-height-lg: 1.75;
$line-height-xl: 2;
$line-height-xxl: 2.4;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;

//Grid
$grid-container: 120rem;
$grid-gutter: 3rem;
$grid-margin-gutters: 3rem;

//Section
$section-min-height: 50rem;

//Gallery
$image-height: 30rem;

//Footer
$footer-height: 36rem;

//Other
$border-radius: 0.2rem;
$border-radius-lg: $border-radius * 2;

//Button
$button-height: 3rem;
$button-height-lg: 3.5rem;
$button-padding-h: 1rem;
