$footer-bg-color: $light-gray;
$footer-font-size: $font-size-l;
$footer-font-weight: $font-weight-semibold;
$footer-line-height: $line-height-l;

footer {
  width: 100%;
  background-color: $light-gray;
  color: $stone;
  position: relative;
  overflow: hidden;

  a {
    position: relative;
    color: inherit;
    height: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    position: relative;
    span {
      display: block;
      @include transition-duration-m();
    }

    &:hover h4 span {
      transform: translateY(-100%);
    }
  }

  .row {
    height: 2rem;
    overflow: hidden;
  }

  &:hover {
    &::before {
      transform: translateY(0%);
    }
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $light-gray-dark;
    transform: translateY(100%);
    @include transition-duration-m();
  }
}
