#home {
  .home-header {
    .container {
      height: 100vh;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
    }
  }
  .home-info {
    width: 60%;
    margin-left: 20%;
  }
}