#hero {
  .container {
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    .btn {
      position: absolute;
      bottom: 50px;
    }
  }
}
