#preloader {
  background-color: $light-gray;
  height: 100vh;

  .loader {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    overflow: hidden;
    .logo {
      @include transform(translate(-50%, 50%));
      position: absolute;
      padding: 5px 0;
      left: 50%;
      bottom: 50vh;
      overflow: hidden;

      img {
        display: block;
        height: 14px;
        @include transform(translateY(150%));
      }
    }

    &.loader-animate {
      background-color: $stone;
      height: 0;
    }
  }
}
