#project {
  h4 {
    margin-bottom: 3rem;
  }
  p {
    margin-bottom: 2.5rem;
  }

  .project-header {
    background-size: contain;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-color: #005fff;
    background-image: url("../img/featured/plateiq.png");

    .grid {
      height: 100vh;
      display: flex;
      flex-flow: column;
      justify-content: center;
    }
    .button-scroll {
      margin-left: -$button-padding-h;
    }

    &-subtitle {
      opacity: 0.5;
    }
  }

  .project-info {
    &-facts {
      &-left,
      &-right {
        width: 50%;
      }

      h5 {
        margin: 0.5rem 0;
      }
      p {
        line-height: $line-height-lg;
        margin-bottom: 1.5rem;
      }

      ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        li {
          line-height: $line-height-lg;
          margin-bottom: 0.5rem;
        }
      }
    }
  }
  .project-quote {
    height: $section-min-height;
    padding: 5rem 0;
    background-color: #005fff;

    .container {
      height: 100%;
    }
    .grid {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
    }
    &-statement {
      width: 100%;
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-author {
      width: 100%;
      flex-shrink: 0;
    }
  }
}
