.project {
  h4 {
    margin-bottom: 3rem;
  }
  p {
    margin-bottom: 2.5rem;
  }

  & &-header {
    background-size: contain;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-color: #005fff;
    background-image: url('../img/featured/plateiq.png');

    &-title-container {
      height: 100vh;
      display: flex;
      flex-flow: column;
      justify-content: center;
    }

    &-button-container {
      position: absolute;
      text-align: center;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
      display: flex;
      flex-flow: column;
      @include breakpoint(medium down) {
        .button {
          position: relative;
          @include button-outline();
        }
      }
    }
    &-subtitle {
      opacity: 0.5;
    }
    .button-scroll {
      margin-left: -$button-padding-h;
      @include breakpoint(medium down) {
        margin-left: 0;
        @include button-outline();
      }
    }
  }

  & &-intro {
    &-facts {
      h5 {
        margin: 0.5rem 0;
        font-size: 1.6rem;
      }
      p {
        line-height: $line-height-lg;
        font-size: 1.6rem;
        margin-bottom: 2.5rem;
      }
      ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        li {
          font-size: 1.6rem;
          line-height: $line-height-lg;
          margin-bottom: 0.5rem;
        }
      }
      [class*=icon-country] {
        font-size: 3.2rem;
      }
    }
  }
  & &-quote {
    height: $section-min-height;
    background-color: #005fff;
    position: relative;
    padding: 0;
    .parallax-image {
      background-image: url('../img/patterns/pattern.png');
      background-size: 50%;
    }

    .container {
      height: 100%;
      padding: 5rem 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &-statement {
      width: 100%;
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-author {
      width: 100%;
      flex-shrink: 0;
    }
  }

  & &-gallery {
    &-image {
      height: $image-height;
      background: #005fff;
      display: flex;
      border-radius: $border-radius-lg;
      overflow: hidden;
      @include transition(md);
      position: relative;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      img {
        max-height: 100%;
        max-width: 100%;
        margin: auto;
        position: relative;
      }
      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba($stone-dark, 0);
        @include transition(sm);
      }
      &:hover {
        &::before {
          background: rgba($stone-dark, 0.15);
        }
      }
    }
  }
  & &-copy {
    &-sticky {
      @include breakpoint(large up) {
        position: -webkit-sticky;
        position: sticky;
        top: 100px;
        align-self: flex-start;
      }
    }
  }
  &-screenshot-long {
    text-align: center;
    border: 1rem solid white;
    outline: 1px solid $light-gray-darker;
    img {
      max-width: 100%;
    }
  }
  .image-full {
    background-color: #005fff;
    .parallax-image {
      background-image: url('../img/projectimages/image-full.jpg');
      background-size: cover;
    }
  }
  & &-next {
    @include transition(md);
    height: $footer-height;
    background-color: #d70034;
    background-image: url('../img/featured/wolverine.png');
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
    position: relative;
    cursor: pointer;
    &-cta,
    &-subtitle {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0;
      overflow: hidden;
    }
    h3,
    h4 {
      @include transition(md);
    }
    h4 {
      transform: translateY(100%);
    }

    &:hover {
      background-color: darken(#d70034, 5%);
      h3 {
        transform: translateY(-100%);
      }
      h4 {
        transform: translateY(0);
      }
    }
  }
}
